*.pyc
.spyproject/codestyle.ini
.spyproject/workspace.ini
.ini
*.xcf
advancedactionscheduler/test.py
advancedactionscheduler/schedules.json
advancedactionscheduler/config.json
advancedactionscheduler/build/
advancedactionscheduler/dist/
.coverage
.pytest_cache/*
.tox
advanced_action_scheduler.egg-info
advancedactionscheduler/aaa.json